<div class="profile__avatar">
  <img src={{user.avatar}} alt="Мой аватар"/>
  <label for="avatar" class="profile__change-avatar">Поменять аватар</label>
  <input
    type="file"
    accept="image/*"
    name="avatar"
    id="avatar"
    title="загрузите новый аватар"
    class="hidden-input"
  />
</div>
<div class="profile__name">
</div>
