<div class="chats-wrapper">
    <div class="chat-list-wrapper">
        <div class="chat-list">            
        </div>
    </div>
    <div class="chat-main-wrapper">
        <div class="chat-main">            
        </div>
    </div>
</div>
