<div class="chat-list__avatar">
    <img src={{avatar}}>
</div>
<div class="chat-list__profile-block">
    <div class="chat-list__profile-name">
        {{profile.display_name.value}}
    </div>
    <div class="chat-list__profile-link">
        <a href={{link}}>Профиль ></a>
    </div>
</div>