<div class="modal-wrapper center-center">
  <div class="modal center-center" id="modalSearch">
    <div class="close-button-wrapper">
      <div class="close-button" id="close-button"></div>
    </div>
    <h3>Пригласить пользователя (поиск по логину)</h3>
    <form id="userSearchForm" method="post" novalidate>
      <div class="col">
        {{{input}}}
        {{{button}}}
      </div>
      <div class="result" id="result"></div>      
    </form>
  </div>
</div>
