<div class="modal-wrapper center-center">
  <div class="modal center-center" id="modalSearch">
    <div class="close-button-wrapper">
      <div class="close-button" id="close-button"></div>
    </div>
    <h3>Напишите название чата</h3>
    <form id="createChatForm" method="post" novalidate>
      <div class="row">
        {{{input}}}
        {{{button}}}
      </div>
    </form>   
    <div class="result" id="result">   
    </div>
  </div>
</div>
