<div class="modal-wrapper center-center">
  <div class="modal center-center" id="modalSearch">
    <div class="close-button-wrapper">
      <div class="close-button" id="close-button"></div>
    </div>
    <h3>Поменять аватарку чата</h3>
    <form
      id="changeChatAvatarForm"
      method="post"
      novalidate
      enctype="multipart/form-data"
    >
      {{{avatar}}}
      <div
        class="form__changeAvatar__hidden-input center-center hidden"
        id="changeAvatarHiddenInput"
      >
        <label
          class="image-file"
          for="changeChatAvatarModalInput"
          title="загрузите картинку"
        ></label>
        <input
          type="file"
          class="hidden-input"
          id="changeChatAvatarModalInput"
          title="загрузите картинку"
        />
        {{{button}}}
      </div>
    </form>
    <div class="result" id="result">
    </div>
  </div>
</div>
