.chats-wrapper {
  display: flex;
  height: 716px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  box-shadow: 0px 0px 3px lightgrey;
}

.chats-wrapper {
  .chat-list-wrapper {
    display: flex;
    width: 310px;
    flex-direction: column;
    height: 720px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eaeaea;
    background-color: #fbfbfb;
  }

  .chat-main-wrapper {
    display: flex;
    width: 706px;
    height: 700px;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }

  .chat-list__menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 10px;
  }

  .chat-list__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 0px 10px;
    height: 50px;
  }

  .chat-list__avatar,
  .chat-list-item__avatar,
  .chat-main__chat-avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

  }

  .chat-list__avatar img,
  .chat-list-item__avatar img,
  .chat-main__chat-avatar img {
    width: 100%;
  }


  .chat-list__profile-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  .chat-list__profile-name,
  .chat-list-item__user-name,
  .chat-main__chat-name {
    display: flex;
    color: $color-messages;
    text-align: end;
    font-weight: bold;
    font-size: 13px;
  }

  .chat-list__profile-link {
    display: flex;
    color: #999;
    text-align: end;
  }

  .chat-list__profile-link a {
    color: #999;
    text-decoration: none;
  }

  .chat-list__search {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 3px 10px 0px 10px;
  }

  .chat-list__searchform {
    display: flex;
    flex-direction: row;
  }

  .chat-list__searchform input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #efefef;
    border-radius: 5px;
    border-color: #efefef;
    width: 290px;
    height: 32px;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    padding-left: 5px;
  }

  .chat-list__searchform-button {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background-image: url("./files/magnifying-glass-solid.png");
    background-size: 15px 15px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: -30px;
  }

  .chat-list__hr {
    width: 290px;
    height: 1px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .chat-list__list {
    padding: 10px;
  }

  .chat-list__list li{
    list-style-type: none;
  }

  .chat-list__list_unmarked {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .chat-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 70px;
    overflow: hidden;
    cursor: pointer;

    padding: 10px;
    margin: 0 0 2px 0;
  }

  .chat-list-item.highlight {
    background-color: #fff;
    box-shadow: 0px 0px 2px lightgray;
  }


  .chat-list-item__main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    max-width: 175px;
    margin-left: 5px;
  }

  .chat-list-item__last-message {
    display: flex;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 50px;
    width: 175px;
  }

  .chat-list-item__last-message p {
    margin: 2px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 175px;
  }

  .chat-list-item__less-info {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
  }

  .chat-list-item__timestamp {
    color: #999;
    font-size: 9px;
  }

  .chat-list-item__unread-messages {
    width: 20px;
    height: 20px;
    background-color: $color-links;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 720px;
    width: 100%;

  }

  .chat-main__inner {
    display: block;
    width: 100%;
    height: 560px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
  }

  .chat-main__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .chat-main__chat-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .chat-main__mini-menu {
    display: flex;
    height: 15px;
    width: 15px;
    background-image: url("./files/ellipsis-vertical-solid.png");
    background-repeat: no-repeat;
    background-position-x: center;
    cursor: pointer;
  }

  .chat-main__date {
    color: #999999;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .chat-main__daily-messages {
    list-style-type: none;
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .chat-main__message {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .chat-main__message-wrap {
    display: flex;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
  }

  .message-incoming {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .message-outgoing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }


  .chat-main__hr {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #eaeaea;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .chat-main__message-field {
    flex-wrap: wrap;
  }

  .chat-main__message-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .chat-main__message-form input[type="text"] {
    width: 640px;
  }

  .chat-main__message-form input[type="file"],
  .hidden-input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
  }

  .chat-main__message-form label {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("./files/paperclip-solid.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
  }

  input[type="text"],
  input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    background-color: #efefef;
    border: 0;
    border-radius: 5px;
  }

  .chat-main__opened-menu {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px #999;
    position: absolute;
    top: 100px;
    right: 150px;
    z-index: 1010;
    background-color: white;
  }

  .mini-menu__hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 1px;
    background-color: $color-lightgray;
  }

  .chat-main__opened-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .chat-main__opened-menu li {
    padding: 10px 0;
  }

  .a-chat-settings {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 12px;
    cursor: pointer;
    margin: 10px;
  }

  .input-row label {
    display: none;
  }

  .forDelete {
    background-color: #999999;
  }

  .forDeletion {
    list-style-type: none;
  }
  .forDeletion .users {
    cursor: pointer;
  }

  .outer-out {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .inner-out {
    display: flex;
    max-width: 70%;
    justify-content: flex-start;
    background-color: #999;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;

  }

  .outer-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 10px;

  }

  .inner-in {
    display: flex;
    max-width: 70%;
    justify-content: flex-end;
    background-color: lightcyan;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
  }

}
