.main-wrapper {
    display: flex;
    width: 100%;
    max-width: 1280px;
    height: 720px;
    justify-content: center;
    align-items: center;
}

.messenger-wrapper {
    display: flex;
    width: 100%;
    height: 720px;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin: auto;

}


.wrapper-all-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1019px) {
    .messenger-wrapper {
        width: 100%;
    }
}
