<li>
    <div class="chat-main__message message-incoming">
        <div class="chat-main__message-wrap message-left">
            <div class="chat-main__message-plus-avatar">
            <div class="chat-main__avatar message-left">
                <img src="{{avatar}}" /> <!--здесь аватара пользователя-->
            </div>
            <div class="chat-main__message-in">
                <div class="message">
                    {{{message}}} <!--здесь текст сообщения-->
                </div>
                <div class="timestamp">
                    <div class="got-out"></div><!--первая галочка-->
                    <div class="got-resp"></div><!--половина галочки-->
                    {{{time}}} <!--время сообщения-->
                </div>

            </div>
            </div>
            <div class="chat-main__username">{{{name}}}</div>
        </div>
    </div>
</li>
    