@import "./../../../../../variables";

.message-incoming {

    .chat-main__avatar {
        display: flex;
        width: 26px;
        height: 26px;
        border: 1px solid $color-lightgray;
        border-radius: 50%;
        overflow: hidden;
    }

    .chat-main__message-plus-avatar {
        display: flex;
        flex-direction: row;

        justify-content: flex-start;
        align-items: flex-end;
        max-width: 50%;
    }

    .row {
        align-items: flex-end;
    }

    .chat-main__message-wrap.message-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .chat-main__message-in {
        display: flex;
        flex-direction: column;
        background-color: $color-messages-in-back;
        border: 2px solid $color-messages-in-back;
        border-radius: 20px;
        padding: 10px;
        color: #1E1E1E;
    }

    .timestamp {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 9px;
        color: $color-midgray;
    }


    .chat-main__username {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

}
