<div class="chat-main__chat-info">
  <div class="chat-main__chat-avatar">
    <img src={{chatavatar}} alt="{{chatname}}" title="{{chatname}}" />
  </div>
  <div class="chat-main__chat-name">
    {{{chatname}}}
  </div>
</div>
<div class="chat-main__mini-menu" id="mini-menu">
</div>
<div class="chat-main__opened-menu hidden" id="open-menu">
  <ul>
    <li><a class="a-chat-settings" id="call-to-chat" href="#no">Позвать друга в
        чат</a></li>
    <li><a class="a-chat-settings" id="remove-from-chat" href="#no">Удалить
        друга из чата</a></li>
    <li><a class="a-chat-settings" id="close-chat" href="#no">Покинуть чат</a></li>
  </ul>
  <div class="mini-menu__hr"></div>
  <ul>
    <li><a class="a-chat-settings" id="settings" href="#no">Настройки</a></li>
    <li><a class="a-chat-settings" id="night-theme" href="#no">Ночная тема</a></li>
    <li><a
        class="a-chat-settings color-red"
        id="logout"
        href="#logout"
      >Выйти</a></li>
  </ul>
</div>
<div class="chat-main__hr"></div>
