.wideform-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

#link-to-chats {
    transform: rotate(180deg);
}

.link-to-chats {
    background-color: #FBFBFB;
    width: 64px;
}
