<div class="wideform-wrapper">
    <div class="link-to-chats center-center">
        <button id="link-to-chats" title="Назад к чатам">
    </div>
    <div class="wrapper-all-center no-border width-wide">
        <div class="avatar__placeholder"></div>
        <div class="form__placeholder"></div>
    </div>
</div>
