<form class="form-signin form size-s narrow-form col" novalidate method="post">
  <legend>
    <h3>Регистрация</h3>
  </legend>
  {{{inputList}}}
  <div class="submit-message"></div>
  <div class="col center-center">
    <div class="submit">{{{button}}}</div>
    <div class="center-center width-100">
      <a href="/">Войти</a>
    </div>
  </div>
</form>
