<form class="form-signin form size-s narrow-form col" novalidate method="post">
    <legend>
        <h3>Регистрация</h3>
    </legend>
    <div class="form-signin__form-wrapper col">
        {{#each input.signin}} {{> input-row}} {{/each}}
    </div>
    <div class="submit-message"></div>
    <div class="col center-center">
        {{> submit-button button.signinSubmit}}
        <div class="center-center width-100">
            <a href="#login">Войти</a>
        </div>
    </div>
</form>
