<div class="chat-main__hr"></div>
<form class="chat-main__message-form" novalidate>
  {{!-- <label for="message-field__file" title="Выберите файл"></label>
  <input type="file" id="message-field__file" title="Выберите файл" /> --}}
  {{{input}}}
  {{{button}}}
</form>
