<div class="chat-main__hr"></div>
<form class="chat-main__message-form">
    <label for="message-field__file" title="Выберите файл"></label>
    <input type="file" id="message-field__file" title="Выберите файл" />
    <input type="text" name="message" placeholder="Сообщение" />
    {{{button}}}
</form>
