<form class="chat-list__searchform">
    {{{input}}}
    {{{button}}}
</form>


<!--
<form class="chat-list__searchform">
    <input type="search" placeholder="Поиск"> 
    <button type="submit" class="chat-list__searchform-button"></button>
</form>
-->
