<form class="chat-list__searchform">
    <div class="input-list"></div>
    <div class="submit"></div>
</form>


<!--
<form class="chat-list__searchform">
    <input type="search" placeholder="Поиск"> 
    <button type="submit" class="chat-list__searchform-button"></button>
</form>
-->
