<div class="profile__main-info center-center">
  {{{avatar}}}
</div>
{{{charList}}}
<div class="profile__change-links">
  <a href="#changeprofile">Изменить данные</a>
  <a href="#changepass">Изменить пароль</a>
  <a class="color-red" href="#logout">Выйти</a>
</div>
