<form class="narrow-form form size-s col center-center" method="post">
    <legend>
        <h3>Восстановление пароля</h3>
    </legend>
    <div class="input-list">{{{input}}}</div>
    <div class="row input-explain">
        Мы вышлем ссылку для смены пароля на почту, которую вы указали при регистрации
    </div>
    <div class="submit-message"></div>
    <div class="submit">{{{button}}}</div>
</form>

