<form class="forgot-password form col center-center" method="post">
        <legend>
        <h3>Восстановление пароля</h3> 
    </legend>
    {{#each input.getNewPass}} {{> input-row}} {{/each}}
    <div class="row" style="width: 80%; margin: 20px 0;">
        Мы вышлем ссылку для смены пароля на почту, которую вы указали при регистрации
    </div>
            {{> submit-button button.forgotpassSubmit}}
</form>