<div class="modal-wrapper center-center">
  <div class="modal center-center" id="modalSearch">
    <div class="close-button-wrapper">
      <div class="close-button" id="close-button"></div>
    </div>
    <form id="deleteChat">    
      <h3 class="color-red">Удалить чат?</h3>    
      {{{button}}}
      <div class="result" id="result"></div>
    </form>      
  </div>
</div>

