{{{mainmenu}}}
<div class="chat-main__inner">
    <div class="center-center" id="chat-placeholder">Чтобы начать общаться, выберите чат в панели слева</div>
</div>
{{{messagefield}}}
<div class="modal-place" id="modal-place"></div>
