<div class="chat-list__avatar">
    <img src={{user.avatar}}>
</div>
<div class="chat-list__profile-block">
    <div class="chat-list__profile-name">
        {{{user.profile.display_name.value}}}
    </div>
    <div class="chat-list__profile-link">
        <a href={{user.link}}>Профиль ></a>
    </div>
</div>
