<div class="chat-main__message message-outgoing">
    <div class="chat-main__message-wrap message-right">
        <div class="chat-main__message-plus-avatar">
        <div class="chat-main__avatar message-right">
            <img src="{{avatar}}" /> <!--здесь аватара собеседника-->
        </div>
        <div class="chat-main__message-out">
            <div class="message">{{{message}}}</div>
            <div class="timestamp">
                    <div class="got-out"></div><!--первая галочка-->
                    <div class="got-resp"></div><!--половина галочки-->
                {{{time}}} <!--время сообщения-->
            </div>

        </div>
        </div>
        <div class="chat-main__username">{{{name}}}</div>
    </div>
</div>
