.message-outgoing {

    .chat-main__avatar {
        display: flex;
        width: 34px;
        height: 34px;
        border: 1px solid lightgray;
        border-radius: 50%;
        overflow: hidden;
    }

    .chat-main__message-plus-avatar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
        max-width: 50%;
    }

    .chat-main__message-out {
        display: flex;
        flex-direction: column;
        background-color: #e4edfd;
        border: 2px solid #e4edfd;
        border-radius: 20px;
        padding: 10px;
        color: #1E1E1E;
    }

    .message-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .timestamp {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 9px;
        color: #999999;
    }


    .got-out {
        width: 5px;
        height: 3px;
        border-radius: 1px;
        border-left: 2px solid #999999;
        border-bottom: 2px solid #999999;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .got-out.color-blue {
        border-left: 2px solid #3369F3;
        border-bottom: 2px solid #3369F3;
    }

    .got-resp {
        width: 6px;
        height: 3px;
        border-radius: 1px;

        border-bottom: 2px solid #999999;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);

    }
}
