<form class="form__changeAvatar" id="changeAvatar" novalidate method="post" enctype="multipart/form-data">
    {{{avatar}}}
    {{{input}}}
    {{{button}}}
    <div class="submit-message"></div>
</form>
