        <li>
            <div class="chat-main__message message-outgoing">
                <div class="chat-main__message-wrap message-right">
                    <div class="chat-main__message-plus-avatar">
                    <div class="chat-main__avatar message-right">
                        {{avatar}} <!--здесь аватара собеседника-->
                    </div>
                    <div class="chat-main__message-out">
                        <div class="message"></div>
                        <div class="timestamp">
                            {{time}} <!--время сообщения-->
                        </div>

                    </div>
                    </div>
                    <div class="chat-main__username">{{name}}</div>
                </div>
            </div>
        </li>
    