@import "./../variables";

.error {
  display: flex;
  width: 100%;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  font-size: 20px;
  text-align: center;
}

.error__num {
  font-size: 40px;
  margin-bottom: 20px;
}

.error__a-back {
  font-size: 11px;
  color: $color-links;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}

.error.active {
  opacity: 1;
}
