<div class="error center-center">
  <span class="error__num">{{error_num}}</span>
  <p class="error__message">{{message}}</p>
  <a  onclick="window.history.back()"  class="error__a-back">{{link_label}}</a>
</div>

