
.profile__char {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted #EAEAEA;
    padding: 10px;
    width: 490px;
}

.profile__char-name {
    display: flex;
    justify-content: flex-start;
}

.profile__char-value {
    display: flex;
    justify-content: flex-end;
    color: #999;
}
