.submit-button {
    border-radius: 12px;
    width: 280px;
    height: 37px;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 10px;
}

.submit-button.small {
    border-radius: 6px;
    width: 100px;
    height: 37px;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 20px;
}
