<form class="form-login form narrow-form size-s" method="post" novalidate>
    <legend>
        <h3>Вход</h3>
        или <a href="#signin">регистрация</a>
    </legend>    
        {{{inputList}}}
    <div class="submit-message"></div>
    <div class="center-center col">
        {{{button}}}
        <div class="center-center width-100">
            <a href="#forgotpass">Забыли пароль?</a>
        </div>
    </div>
</form>
