<form class="form-login form narrow-form size-s" method="post" novalidate>
    <legend>
        <h3>Вход</h3>
        или <a href="#signin">регистрация</a>
    </legend>
    <div class="fields">
        <div class="form-login__form-wrapper form col" id="form-login__form-wrapper">
            {{#each input.login}} {{> input-row}} {{/each}}
        </div>
    </div>
    <div class="center-center col">
        <div class="submit-button">
            {{> submit-button button.loginSubmit}}
        </div>
        <div class="center-center width-100">
            <a href="#forgotpass">Забыли пароль?</a>
        </div>
    </div>
</form>
