<div class="profile__avatar">
    <img src={{user.avatar}} alt="{{user.profile.display_name.value}}" title="{{user.profile.display_name.value}}" />
</div>
<div class="profile__name">
    {{user.profile.display_name.value}}
</div>
