$color-messages: #000;
$color-links: #3369F3;
$color-lightgray: #eee;
$color-messages-in-back: #f8f8f8;
$color-messages-out-back: #e4edfd;
$color-midgray: #999999;
$color-darkgray: #1E1E1E;
$color-lightergrey: #efefef;
$color-moregrey: #eaeaea;
$s-narrow: 340px;
$s-wide: 510px;
$s-ewide: 1216px;
