<div class="modal-wrapper center-center">
  <div class="modal center-center" id="modalSearch">
    <div class="close-button-wrapper">
      <div class="close-button" id="close-button"></div>
    </div>
    <form id="delUser" name="delUser">
    <h3>Выберите пользователя</h3>
    <div class="userslist"></div>
    
    {{{button}}}

    <div class="result" id="result">
      
    </div></form>
  </div>
</div>
