<div class="profile-wrapper">
  {{{avatar}}}
  <form class="change-pass form" novalidate>
    <legend>
    </legend>
    <div class="form-changeprofile__form-wrapper form col width-100">
      {{{inputList}}}
    </div>
    <div class="submit-message"></div>
    {{{button}}}
  </form>
</div>
