<div class="profile-wrapper">
    {{{avatar}}}
    <form class="form-changeprofile form width-wide" novalidate method="post">
        <legend>
            <h3>Изменить данные профиля</h3>
        </legend>
        <div class="form-changeprofile__form-wrapper form col width-100">
            {{{inputList}}}
        </div>
        <div class="submit-message"></div>
        {{{button}}}
    </form>
</div>
