<div class="profile-wrapper">
    {{> change-avatar}}
</div>
<form class="form-changeprofile form width-wide">
    <legend> 
        <h3>Изменить данные профиля</h3>
    </legend>
    <div class="form-changeprofile__form-wrapper form col width-100">
        {{#each input.change_profile}} {{> input-row}} {{/each}}
    </div>
    <div class="form-changeprofile__submit-wrapper col center-center">
        <div class="button">{{> submit-button button.changeSubmit}}</div>
    </div>
</form>
